* {
	font-family: "Lucida Console", "Arial", "Times New Roman";
	text-align: center;
}

nav  *{
	background-color: black;
	border-color: black;
	border-radius: 12px;
	border-style: solid;
	border-width: thin;
}

nav ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

nav ul li {
	float: left;
}

nav ul li a {
	color: white;
	display: block;
	padding: 14px 16px;
	text-decoration: none;
}

nav ul li a.active {
    background-color: white;
	color: black;
}

nav ul li a:hover {
    background-color: white;
	color: black;
}

nav {
	background-color: black;
	border-color: black;
	border-radius: 10px;
	border-style: solid;
	border-width: thin;
}

section {
	border-color: #555;
	border-radius: 10px;
	border-style: solid;
	border-width: thin;
	margin-top: 1%;
	margin-bottom: 1%;
}